.search-section {
  margin-bottom: 80px;
}
.search-section__content {
  max-width: 588px;
  margin-bottom: 24px;
}
.search-section__control {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 511px;
}

.long-input {
  width: 400px;
}
